# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TT/.vs/TT/v15/ipch/AutoPCH/d6318bdde1353ef3/NODEWIDGETEVENT.ipch
TT/.vs/TT/v15/ipch/AutoPCH/c229b5ac21791b67/TYPEKINDPARENT.ipch
TT/.vs/TT/v15/ipch/AutoPCH/b0a3d5961b77652a/CTREEWIDGET.ipch
TT/.vs/TT/v15/ipch/AutoPCH/abb43998cd819d8f/ACCEPTWIDGET.ipch
TT/.vs/TT/v15/ipch/AutoPCH/9d3035822502ead6/CUSTOMDRAGLABEL.ipch
TT/.vs/TT/v15/ipch/AutoPCH/8c26a4e6b64599f7/DRAGPROXY.ipch
TT/.vs/TT/v15/ipch/AutoPCH/75882231635f156d/MYTREEWIDGET.ipch
TT/.vs/TT/v15/ipch/AutoPCH/5f4a27679a8cb6e9/EXERCISEWIDGET.ipch
TT/.vs/TT/v15/ipch/AutoPCH/47cc7480892ce010/MAIN.ipch
TT/.vs/config/applicationhost.config
TT/.vs/TT/v15/.suo
TT/.vs/TT/v15/Browse.VC.db
TT/.vs/TT/v15/Browse.VC.opendb
TT/.vs/TT/v15/ipch/AutoPCH/1b7b7c5a013d8713/MOC_NODEWIDGETEVENT.ipch
TT/.vs/TT/v15/ipch/AutoPCH/3e6afededfb5b0cf/NODEWIDGET.ipch
